[submodule "src/carve/external/cmd_line_parser"]
	path = src/carve/external/cmd_line_parser
	url = https://github.com/jermp/cmd_line_parser.git
[submodule "src/silva"]
	path = src/silva
	url = https://github.com/LorenzoCazzaro/silva.git
